.program-wrapper {
    p {
        font-weight: $light-font;
        margin-top: 0.1em;
        a {
            color: $primary-color;
        }
    }
}

#programs {
    h3 {
        color: #808080;
    }
}
